.container{
  display: flex;
 align-items: center;
justify-content:center;
flex-direction: column;
gap: 5rem;
padding-top: 1rem;

background-color: #e0cae7;
}



.detail-container{
 display: flex;
 align-items: center;
justify-content:center;
flex-direction: row;
flex-wrap: wrap;
gap: 5rem;
}
.actor-details{
 border-width: 2px;
border-style: solid;
border-color: #333;
border-radius: 5px;
}